body {
    line-height: inherit;
}

.head-text{
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}
.head-text-small{
    color: blue;
    font-size: 13px;
}
.input-main{
    display: flex;
    background-color: rgba(28, 68, 212, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    
}
.input-left{
    width: 50%;
}
.input-right{
    margin-left: 20px;
    width: 50%;
}
.form-label{
    color: blue;
    font-weight: bold;
}
.label-margin{
    margin-top: 20px;
}
.avatar{
    width: 70px;
    margin-right: 10px;
    align-items: center;
}
.add-user{
    display: flex;
    align-items: center;
}

.plus-svg{
    opacity: 60%;
}
.plus-svg:hover {
    fill: blue;
    cursor: pointer;
    opacity: 100%;
}
.input-right-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



