body {
    font-family: 'Roboto', sans-serif;
}

.backlog {
    padding-left: 220px;
}

h1 {
    margin: 0;
}

h5 {
    margin: 0;
}

.headline-backlog {
    padding-top: 50px;
}

.headline {
    color: #2c2ca8;
}

.backlog-table {
    color: #2c2ca8;
    margin-top: 45px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
}

.table-project {
    border-spacing: 0px;
    width: 100%;
    padding-right: 100px;
}

.priority {
    font-size: 48px !important;
    vertical-align: middle !important;
    line-height: 0 !important;
    margin-left: -6px !important;
    margin-bottom: 3px;
}

.table tr {
    border-top: 1px solid #dee2e6;
}

.table td,
.table th {
    vertical-align: middle !important;
}

/* CODE von erste Tabelle im Textdocument */

#new-task {
    align-items: center;
    background-color: #fbfbfb;
    margin-top: 3px;
    margin-bottom: 3px;
    /* border-left: 7px solid orange;     Standard JOIN Style */
    border-radius: 10px;
    cursor: pointer;

}

.task-profile {
    margin: 5px;
}

.user-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#backlogTask {
    cursor: pointer;
}

.table tbody+tbody {
    border: 0px !important;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #859aaf;
}


.double_arrow_up {
    font-size: 48px !important;
    color: red;
}

#liveAlertBtn {
    cursor: pointer;
}

.taskButton {
    color: black;
    font-size: 18px;

}

.taskButton a {
    color: black;
}

table tr:hover {

    background-color: #f6fbff !important;
}

.head-table {
    font-size: 18px;
    background-color: #f1f1ff;
    border-top: 2px solid #859aaf !important;
    border-bottom: 2px solid black !important;
}

.head-table:hover {
    background-color: #f1f1ff !important;

}


@media (max-width: 1000px) {

    table,
    tr,
    td {
        padding: 0;
        /* border:1px solid black; */
    }

    table {
        border: none;
    }

    thead {
        display: none;
    }

    tr {
        float: left;
        width: 100%;
        margin-bottom: 2em;
    }

    td {
        float: left;
        width: 100%;
        padding: 1em;
    }

    td::before {
        content: attr(data-label);
        word-wrap: break-word;
        /* background: #eee; */
        /* border-right:2px solid black; */
        width: 20%;
        float: left;
        /* padding:1em; */
        /* font-weight: bold; */
        /* margin:-1em 1em -1em -1em; */
    }

    #user {
        display: flex;
        align-items: center;
    }

}

@media (max-width: 870px) {

    .backlog {
        padding-left: 40px;
    }

    .headline-backlog {
        padding-top: 115px;
    }
}