body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.menu{
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 width: 200px;
 background-color: blue;
}

.main{
    margin-left: 240px;
    margin-top: 80px;
}